<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmall.mapper.CartMapper">
<!--    获取某个用户的所有购物车信息-->
    <select id="getCartById" resultType="Cart">
        select cart_id, cart.product_id, img_src, product_name, product_price,discount,weight,
               count from cart, product where user_id=#{userId}
               and cart.product_id=product.product_id
    </select>

<!--    修改某一个购物车商品的数量-->
<update id="setCartCount">
    update cart set `count`=#{count} where cart_id=#{cartId}
</update>

<!--     获取某个用户的购物车信息的数量-->
    <select id="getCartCountById" resultType="BigInteger">
        select count(*) from cart where user_id=#{userId}
    </select>

<!--     检验用户是否了添加了购物车-->
    <select id="findCartItem" resultType="Cart">
        select * from cart where user_id=#{userId} and
        product_id=#{productId}
    </select>

<!--    用户添加商品到购物车-->
    <insert id="addToCart">
        insert into cart(user_id, product_id, count) value (
            #{userId},  #{productId}, #{count} )
    </insert>

<!--    删除某用户的某一条购物车商品信息-->
    <delete id="deleteCart">
        delete from cart where cart_id=#{cartId}
    </delete>

    <!--    清空购物车-->
    <delete id="deleteCartByUserId">
        delete from cart where user_id=#{userId}
    </delete>


<!--    /*delete from cart where user_id=#{userId}*/-->
    <select id="getCartProductIds" resultType="Cart">
        select product_id,`count` from cart where user_id=#{userId}
    </select>

    <!--通过产品id获取店铺id-->
    <select id="getShopIdsByProductIds" resultType="BigInteger">
        select distinct shop_id from product
        where product_id in
        <foreach collection="array" open="(" close=")"
                 item="id" separator=",">
            #{id}
        </foreach>
    </select>

    <!--将shop_id写入order_master-->
    <insert id="addOrderMaster">
        insert into order_master(order_number,buyer_id,order_amount,shop_id)
        values(#{orderNumber},#{userId},#{orderAmount},#{shopId})
    </insert>

    <!--通过order_number,shop_id查询该店商品的实际价格-->
    <select id="getProductPrices" resultType="Double">
        select t.product_price*t.discount*t.count from (
            select p.product_price,p.discount,p.shop_id,od.count from
                product p join order_detail od on p.product_id=od.product_id
                where order_number=#{orderNumber}) t
        where t.shop_id=#{shopId}
    </select>

    <!--基于订单id查询product_detail的商品id-->
    <select id="getProductIds" resultType="BigInteger">
        select product_id from order_detail where order_number=#{orderNumber}
    </select>

    <!--将该订单的数据查询出来-->
    <select id="getOrderMaster" resultType="com.tmall.pojo.OrderMaster">
        select * from order_master where order_number=#{randOrderNumber}
    </select>

    <!--写入数据到order-->
    <insert id="addOrder">
        insert into `order`(order_number_all,order_number,money,create_time,update_time,buy_id)
        values(#{orderNumberAll},#{orderNumber},#{money},#{createTime},#{updateTime},#{buyerId})
    </insert>
</mapper>