<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmall.mapper.OrderMapper">

    <!--获取全部订单-->
    <select id="findOrderById" resultType="OrderMaster">
        select * from order_master where buyer_id=#{buyerId} and order_status &lt; 4
    </select>
<!--获取店铺的全部订单 -->
    <select id="findByPage" resultType="OrderMaster">
        SELECT * FROM order_master
        WHERE shop_id=#{shopId}
        limit #{offset},#{pageSize}
    </select>
<!-- 查询本店订单条数   -->
    <select id="getCountByShopId" resultType="Integer">
        select count(*) from order_master where shop_id=#{shopId}
    </select>
</mapper>