<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmall.mapper.OrderMapper">

    <!--获取全部订单-->
    <select id="findOrderById" resultType="OrderMaster">
        select * from order_master where buyer_id=#{buyerId} and order_status &lt; 4
    </select>
<!--获取店铺的全部订单 -->
    <select id="findByPage" resultType="OrderMaster">
        SELECT * FROM order_master
        WHERE shop_id=#{shopId}
        limit #{offset},#{pageSize}
    </select>
<!-- 查询本店订单条数   -->
    <select id="getCountByShopId" resultType="Integer">
        select count(*) from order_master where shop_id=#{shopId}
    </select>
<!-- 获取到订单状态   -->
    <select id="getOrderStatus" resultType="Integer">
        select order_status
        from order_master
        where order_number=#{orderNumber}
    </select>
<!-- 修改订单状态   -->
    <update id="sendByOrderNumber">
        update order_master
        set order_status=3
        where order_number=#{orderNumber}
    </update>
<!--  取消订单      -->
    <update id="cancel">
        update order_master
        set order_status=2
        where order_number=#{orderNumber}
    </update>
    
<!--    添加一条订单-->
    <insert id="addOrderMaster">
        insert into order_master(order_number,buyer_id, order_amount, shop_id)
        value (#{orderNumber},#{buyerId}, #{orderAmount}, #{shopId})
    </insert>


<!--     //保存订单信息中每一天商品的信息-->
    <insert id="addOrderDetail">
        insert into order_detail(detail_id,order_number,product_id,count,create_time,update_time) value (#{detailId},#{orderNumber}, #{productId}, #{count},#{createTime},#{updateTime})
    </insert>
<!--    !根据用户id获取订单数，可修改为待付款的订单数-->
<!--    SELECT count(*) FROM order_master WHERE buyer_id=#{userId} AND order_status<4-->
    <select id="countt" resultType="OrderMaster">
        select (count(*)) from order_master where buyer_id=#{userId} and order_status &lt; 4
    </select>
</mapper>