<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmall.mapper.ProductCategoryMapper">
<!--    查询所有商品分类数据-->
   <select id="findAll" resultType="productCategory">
       select * from product_category
   </select>

<!--    根据 category_id 查询此类所有商品-->
    <select id="findById" resultType="product">
        select * from product where category_id=#{categoryId}
    </select>


    <!--    添加分类-->
    <insert id="addCategory" parameterType="productCategory">
        insert into product_category(category_name) value (#{categoryName})
    </insert>

    <!--    编辑分类-->
    <update id="setCategory" parameterType="productCategory">
        update product_category set category_name=#{categoryName} where category_id=#{categoryId}
    </update>

    <!--删除分类-->
    <delete id="removeCategory">
        delete from product_category where category_id=#{categoryId}
    </delete>
</mapper>