<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmall.mapper.ProductMapper">
    <select id="selectProductAll" resultType="Product">
        select * from product
    </select>

<!-- 获取商家商品分类数据   -->
    <select id="findByPage" resultType="Product">

        select product.* from product
        where shop_id=(
            select shop_id from shop
            where owner_id=#{ownerId})
          and product_name like '%${key}%'
          limit #{offset},#{pageSize}
    </select>
<!-- 查询商家的商品条数   -->
    <select id="countShopProduct" resultType="Integer">
        select count(*) from product
        where shop_id=(
            select shop_id from shop
            where owner_id=#{ownerId}
            )
    </select>
<!--修改店铺商品信息    -->
    <update id="updateProduct" >
    UPDATE product SET
                       product_name = #{productName},
                       product_price = #{productPrice},
                       category_id = #{categoryId},
                       weight = #{weight},
                       discount = #{discount},
                       `left` = #{left},
                       product_desc = #{productDesc},
                       img_src = #{imgSrc}
                        WHERE product_id = #{productId}
    </update>
<!--  删除商家商品  -->
    <delete id="deleteProductById" >
        delete from product where product_id=#{productId}
    </delete>

     <insert id="insertProduct">
        INSERT INTO
            product(
                product_id,product_name,product_price,category_id,weight,product_desc,discount,`left`,img_src, shop_id, sold,create_time)
        values(
               null,#{productName},#{productPrice},#{categoryId},#{weight},#{productDesc},#{discount},#{left},#{imgSrc},#{shopId},#{sold},#{createTime})
    </insert>

    <!--增加对应的销量-->
    <update id="addSold">
        update product set sold=sold+#{count} where product_id=#{productId}
    </update>

    <!--减少对应商品的库存-->
    <update id="decreaseProductLeft">
        update product set `left`=`left`-#{count} where product_id=#{productId}
    </update>

    <!--减少对应商品的库存-->
    <update id="increaseProductLeft">
        update product set `left`=`left`+#{count} where product_id=#{productId}
    </update>

    <select id="findShopById" resultType="Product">
        select * from product where shop_id=#{shopId}
    </select>

    <select id="showProductInfo" resultType="Product">
        select * from product where product_id=#{productId}
    </select>

    <select id="getHotProduct" resultType="Product">
        select * from product order by sold desc limit 10
    </select>

    <select id="getNewProduct" resultType="Product">
        select * from product where date_format(create_time,'%Y-%m-%d')>= '2022-03-20' limit 10
    </select>

    <select id="findOrderProduct" resultType="OrderDetail">
        SELECT
            img_src,
            product_name,
            product_price,
            product.product_id as product_id,
             `count`,
             `count`*product_price*discount as orderProductPrice,
             shop_id
             FROM order_detail, product
             WHERE product.product_id=order_detail.product_id
             AND order_number=#{orderNumber}
    </select>


    <select id="findOrderDetail" resultType="OrderDetail">
        select img_src,product_name,`count`,
               product_price*discount*`count` as orderProductPrice
        from product p left join order_detail od
             on p.product_id=od.product_id
        where order_number=#{orderNumber} and shop_id=#{shopId}
    </select>

    <!--查看商品-->
    <select id="findOrderDetailByProductId" resultType="BigInteger">
        SELECT
            img_src,
            product_name,
            product_price,
            product.product_id as product_id,
            count,
            count*product_price*discount as orderProductPrice
        FROM order_detail, product
        WHERE product.product_id=order_detail.product_id
          AND order_number=#{orderNumber}
          and product.product_id=#{productId}
    </select>

    <!--查询总订单号-->
    <select id="findOrderNumberAll" resultType="String">
        select order_number_all from `order`
        where order_number like "%"#{orderNumber}"%"
    </select>
<!-- 首页模糊查询   -->
    <select id="search" resultType="Product">
        select * from product
        where product_name like "%"#{key}"%"
    </select>

    <!--找到该商品对应的商家id-->
    <select id="getShopIdByproductId" resultType="java.lang.Integer">
        select shop_id from product where product_id=#{productId}
    </select>

    <!--获取商品id和数量-->
    <select id="getOderDetailByOrderNumber" resultType="com.tmall.pojo.OrderDetail">
        select product_id,`count` from order_detail where order_number=#{orderNumber}
    </select>

    <!--获取商品剩余数量-->
    <select id="getProductLeft" resultType="java.math.BigInteger">
        select `left` from product where product_id=#{productId}
    </select>

    <!--查询对应订单的商品数量-->
    <select id="getProductCountByOP" resultType="java.math.BigInteger">
        select `count` from order_detail where order_number=#{orderNumber} and product_id=#{productId}
    </select>

    <!--获取商品名字-->
    <select id="getProductName" resultType="java.lang.String">
        select product_name from product where product_id=#{productId}
    </select>

</mapper>