<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmall.mapper.ProductMapper">
    <select id="selectProductAll" resultType="Product">
        select * from product
    </select>

<!-- 获取商家商品分类数据   -->
    <select id="findByPage" resultType="Product">

        SELECT product.* FROM product
        WHERE shop_id=(
            SELECT shop_id FROM shop
            WHERE owner_id=#{ownerId})
          AND product_name like '%${key}%'
          limit #{offset},#{pageSize}
    </select>
<!-- 查询商家的商品条数   -->
    <select id="countShopProduct" resultType="Integer">
        select count(*) from product
        where shop_id=(
            select shop_id from shop
            where owner_id=#{ownerId}
            )
    </select>
<!--修改店铺商品信息    -->
    <update id="updateProduct" >
    UPDATE product SET
                       product_name = #{productName},
                       product_price = #{productPrice},
                       category_id = #{categoryId},
                       weight = #{weight},
                       discount = #{discount},
                       `left` = #{left},
                       product_desc = #{productDesc},
                       img_src = #{imgSrc}
                        WHERE product_id = #{productId}
    </update>

</mapper>