<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmall.mapper.ShopMapper">

    <select id="getShopByUserId" resultType="Shop">
        select * from shop where owner_id=#{userId}
    </select>

    <select id="getShopByShopId" resultType="Shop">
        select * from Shop where shop_id=#{shopId}
    </select>

    <!--获取用户id-->
    <select id="getUserId" resultType="BigInteger">
        select user_id from user where username=#{username}
    </select>

    <!--商家注册-->
    <insert id="shopRegister">
        insert into shop(shop_name, username, owner_id) value(#{shopName},#{username},#{ownerId})
    </insert>

    <!--修改店铺真实名字-->
    <update id="updateShopName">
        update shop
        <set>
            <if test="shopName != null">shop_name=#{shopName}</if>
        </set>
        where shop_id=#{shopId}
    </update>

    <!--通过产品id获取商家id-->
    <select id="getShopByProductId" resultType="BigInteger">
        select shop_id from product where product_id=#{productId}
    </select>

<!-- 查询商家的销售额   -->
    <select id="getSale" resultType="Double">
        select sum(order_amount)
        from order_master
        where order_status in (1,3)
          and shop_id=#{shopid}
    </select>

<!--  获取到shopId  -->
    <select id="getShopId" resultType="BigInteger">
        select shop_id from shop
        where owner_id=#{userId}
    </select>

<!-- 查询商家的销售量   -->
    <select id="getVolume" resultType="Integer">
        select sum(`count`)
        from order_detail
        where order_number in(
            select order_number from
                order_master where shop_id=#{shopId}
                               and order_status in (1,3)
        )
    </select>
</mapper>