<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tmall.mapper.UserMapper">
    <select id="selectUserByUP" resultType="User">
        select *
        from
             user
        where
              username=#{username}
          and
              password=#{password}
    </select>
<!--通过Id查询用户信息   -->
    <select id="selectUserById" resultType="User">
        select * from user
        where user_id=#{userId}
    </select>

    <!--修改用户个人信息-->
    <update id="updateUserById">
    update user
    <set>
        <if test="username !=null">username=#{username},</if>
        <if test="telephone !=null">telephone=#{telephone},</if>
        <if test="address !=null"> address=#{address},</if>
        <if test="sex !=null">sex=#{sex},</if>
        <if test="age !=0">age=#{age},</if>
        <if test="realName !=null">real_name=#{realName},</if>
        <if test="email !=null">email=#{email},</if>
        <if test="avatar !=null">avatar=#{avatar}</if>
    </set>
    where user_id=#{userId}
    </update>

<!--   分页查询用户信息-->
    <select id="findUserList" resultType="User">
        select * from user
        where concat('user_id','username','real_name','role','age','sex','address','telephone','status')
                  like concat('%'#{key}'%') limit #{pageNum},#{pageSize}
    </select>
    <select id="countUser" resultType="Integer">
        select count(*) from user
        where concat('user_id','username','real_name','role','age','sex','address','telephone','status')
                  like concat('%'#{key}'%')
    </select>
</mapper>